html, body {
    font: 14px/1.21 'Helvetica Neue', arial, sans-serif;
    font-weight: 400;
    padding: 40px;
}

h1 {
    text-align: center;
}

.value {
    font-family: monospace;
    padding-top: 4px;
}